name: Release

on:
  push:
    tags:
      - "v*"

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/_build-reusable.yml
    with:
      tag_name: ${{ github.ref_name }}
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
      security-events: write

  publish:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment: pypi
    permissions:
      id-token: write
    steps:
      - name: Download dist artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
