name: Release

on:
  push:
    tags:
      - "v*"

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/_build-reusable.yml
    with:
      tag_name: ${{ github.ref_name }}
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
      security-events: write
